extends layout

block content
  body
    include projectnav
    .container
      h3 Welcome, #{user.name}!
      table.table
        tr
          th #
          th Projeto
          th Created
          th
        - each project in projects
          tr
            td #{project.id}
            td #{project.name}
            td #{project.created}
            td
              a.btn.btn-default(href="/project/#{project.id}") Edit
              &nbsp;
              a.btn.btn-danger(href="/project/remove/#{project.id}") Remove
      a.btn.btn-default(href="/project/add") New project
