extends layout

block content
  body
    include projectnav
    .container
      h3 #{transmissionLine.name}
        span &nbsp;
        a.btn.btn-default(href="/project/" + transmissionLine.project_id) Back

      div.panel.panel-default
        div.panel-heading General
        form(action="/transmissionline/" + transmissionLine.id + "/save", method="post")
          div.panel-body
            label Name
            input.form-control(type="text", name="name", value="#{transmissionLine.name}")
            label Frequency (Hz)
            input.form-control(type="text", name="frequency", value="#{transmissionLine.frequency}")
            label Average rainfall (mm/h)
            input.form-control(type="text", name="average_rainfall", value="#{transmissionLine.average_rainfall}")
            label Relative air density 50%
            input.form-control(type="text", name="relative_air_density_50", value="#{transmissionLine.relative_air_density_50}")
            label Relative air density 90%
            input.form-control(type="text", name="relative_air_density_90", value="#{transmissionLine.relative_air_density_90}")
            label Max circuits
            input.form-control(type="text", name="max_circuits", value="#{transmissionLine.max_circuits}")
            label Max shield wires
            input.form-control(type="text", name="max_shield_wires", value="#{transmissionLine.max_shield_wires}")
          div.panel-footer
            button.btn.btn-primary(type="submit") Save

      div.panel.panel-default
        div.panel-heading Circuits
        div.panel-body
          table.table
            thead
              tr
                th #
                th Voltage
                th &nbsp;
            tbody
              - each circuit in transmissionLine.circuits
                tr
                  td #{circuit.id}
                  td #{circuit.nominal_voltage} kV
                  td
                    a.btn.btn-default(href="/circuit/#{circuit.id}") Edit
                    span &nbsp;
                    a.btn.btn-danger(href="/circuit/remove/#{circuit.id}") Remove
        div.panel-footer
          a.btn.btn-default(href="/circuit/add/" + transmissionLine.id) New Circuit

      div.panel.panel-default
        div.panel-heading Shield Wires
        div.panel-body
          table.table
            thead
              tr
                th #
                th Name
                th &nbsp;
            tbody
              - each shieldWire in transmissionLine.shieldWires
                tr
                  td #{shieldWire.id}
                  td (#{shieldWire.bundle.x} ; #{shieldWire.bundle.y}) m
                  td
                    a.btn.btn-default(href="/shieldwire/#{shieldWire.id}") Edit
                    span &nbsp;
                    a.btn.btn-danger(href="/shieldwire/remove/#{shieldWire.id}") Remove
        div.panel-footer
          a.btn.btn-default(href="/shieldwire/add/" + transmissionLine.id) New Shield Wire

      div.panel.panel-default
        div.panel-heading Structures
        div.panel-body(style="overflow-y: auto; max-height: 300px;")
          table.table
            thead
              tr
                th #
                th Name
                th &nbsp;
            tbody
              - each structure in transmissionLine.structures
                tr
                  td #{structure.id}
                  td #{structure.name}
                  td
                    a.btn.btn-default(href="/structure/#{structure.id}") Edit
                    span &nbsp;
                    a.btn.btn-danger(href="/structure/remove/#{structure.id}") Remove
        div.panel-footer
          a.btn.btn-default(href="/structure/add/" + transmissionLine.id) New Structure
          span &nbsp;
          a.btn.btn-default(data-toggle="modal" data-target="#myModal") New Structures
          span &nbsp;
          a.btn.btn-danger(href="/structure/removeall/#{transmissionLine.id}") Remove All

          div#myModal.modal.fade(role="dialog" tabindex="-1")
            div.modal-dialog
              form(action="/structure/addmany/" + transmissionLine.id, method="post")
                div.modal-content
                  div.modal-header
                    h3 New structures
                  div.modal-body
                      label Length (km)
                      input.form-control(type="text", name="length", value="100")
                      label Average span (m)
                      input.form-control(type="text", name="average_span", value="500")
                      label Initial span (m)
                      input.form-control(type="text", name="initial_span", value="100")
                      label Angle (°)
                      input.form-control(type="text", name="angle", value="0")
                  div.modal-footer
                    button.btn.btn-primary(type="submit") Add
                    a.btn.btn-default(data-dismiss="modal") Close

